@charset "utf-8"; /* Info
 ========================================================================== */
/**
 * 1. Writer: Gyuri Son. (Weaverloft Corp.)
 * 2. Production Date: 2024-05-02
 * 3. Client: Weaverloft
 */

 /*========== Import ==========*/
@import url("./layout.css"); 
@import url("./reset.css"); 

/*========== Font ==========*/
@font-face { font-family: 'Pretendard'; src: url("../font/Pretendard-Regular.woff2") format('woff2'); font-weight: 400; font-display: swap; } 
@font-face { font-family: 'Pretendard'; src: url("../font/Pretendard-Medium.woff2") format('woff2'); font-weight: 500; font-display: swap; } 
@font-face { font-family: 'Pretendard'; src: url("../font/Pretendard-SemiBold.woff2") format('woff2'); font-weight: 600; font-display: swap; } 
@font-face { font-family: 'Pretendard'; src: url("../font/Pretendard-Bold.woff2") format('woff2'); font-weight: 700; font-display: swap; } 

:root { --em-color-15: #15C1D8; --em-color-11:#11E4FF; --gray-color: #7B8B95; } 