@charset "utf-8"; /* Info
 ========================================================================== */
/**
 * 1. Writer: Gyuri Son. (Weaverloft Corp.)
 * 2. Production Date: 2024-05-02
 * 3. Client: Weaverloft
 */
 
 /* header */
 .header { position: fixed; top: 0; left: 0; width: 100%; z-index: 999; transition: all 0.3s; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; } 
 .header.hide { opacity: 0; } 
 .header.white { background: #fff; } 
 .header .header-inner { display: flex; align-items: center; width: 100%; max-width: 1680px; height: 5em; margin: 0 auto; font-size: 20px; color: #fff; } 
 .header.white .header-inner { color: #000; } 
 .header .header-inner .header-logo { width: 2.60em; height: auto; } 
 .header .header-inner .header-logo a { display: block; width: 100%; height: 100%; } 
 .header .header-inner .header-logo .logo-black { display: none; } 
 .header.white .header-inner .header-logo .logo { display: none; } 
 .header.white .header-inner .header-logo .logo-black { display: block; } 
 .header .header-inner .header-logo img { width: 100%; height: 100%; } 
 .header .header-inner .right-area { display: flex; flex: 1; } 
 .header .header-inner .right-area .gnb-area { display: flex; justify-content: center; flex: 1; } 
 .header .header-inner .right-area .gnb-area .gnb-list { display: flex; gap: 60px; } 
 .header .header-inner .right-area .gnb-area .gnb-list li::after { display: block; width: 0; height: 2px; background: #fff; content: ''; transition: width 0.3s ease-in-out; -webkit-transition: width 0.3s ease-in-out; -moz-transition: width 0.3s ease-in-out; -ms-transition: width 0.3s ease-in-out; -o-transition: width 0.3s ease-in-out; } 
 .header.white .header-inner .right-area .gnb-area .gnb-list li::after { background: #000; } 
 .header .header-inner .right-area .gnb-area .gnb-list li:hover::after { width: 100%; } 
 .header .header-inner .right-area .contact-area { display: flex; justify-content: flex-end; } 
 .header .header-inner .right-area .contact-area a::after { display: block; width: 0; height: 2px; background: #fff; content: ''; transition: width 0.3s ease-in-out; -webkit-transition: width 0.3s ease-in-out; -moz-transition: width 0.3s ease-in-out; -ms-transition: width 0.3s ease-in-out; -o-transition: width 0.3s ease-in-out; } 
 .header.white .header-inner .right-area .contact-area a::after { background-color: #000; } 
 .header .header-inner .right-area .contact-area a:hover::after { width: 100%; } 

 /* footer */
 .footer { overflow: hidden; width: 100%; padding: 3.125% 6.25% 5.21%; background-color: #111; color: #ccc; } 
 .footer .footer-inner { width: 100%; max-width: 1680px; margin: 0 auto; } 
 .footer .footer-top { display: flex; justify-content: space-between; padding-bottom: 80px; border-bottom: 1px solid rgba(102, 102, 102, 0.5); } 
 .footer .footer-top .left-area h4 { padding-bottom: 20px; font-size: 21px; font-weight: 600; text-transform: uppercase; } 
 .footer .footer-top .left-area address { display: flex; flex-direction: column; font-size: 20px; } 
 .footer .footer-top .left-area address span { line-height: 1.8; word-break: keep-all; } 
 .footer .footer-top .left-area address .contact { display: flex; gap: 34px; } 
 .footer .footer-top .left-area address .contact a { color: #ccc; } 
 .footer .footer-top .right-area .sns-list { display: flex; align-items: center; gap: 12px; } 
 .footer .footer-top .right-area .sns-list li { flex: 1; } 
 .footer .footer-top .right-area .sns-list li a img { width: 100%; height: 100%; } 
 .footer .footer-bottom { display: flex; justify-content: space-between; width: 100%; } 
 .footer .footer-bottom .left-area { display: flex; gap: 11.7px; align-items: flex-end; padding-top: 72px; } 
 .footer .footer-bottom .left-area small { font-size: 18px; } 
 .footer .footer-bottom .right-area { padding-top: 40px; } 
 .footer .footer-bottom .right-area .certification-list { display: flex; gap: 12px; } 
 .footer .footer-bottom .right-area .certification-list li { flex: 1; } 

 /* side-btn */
 .side-btn { position: fixed; bottom: 3.13em; right: 3.13em; z-index: 9; overflow: hidden; width: clamp(44px, 5em, 80px); height: clamp(44px, 5em, 80px); font-size: clamp(12px, 0.833vw, 16px); transform: translateY(-50%); box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); transition: all 0.5s; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; } 
 .side-btn .btn-link { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; } 
 .side-btn .btn-link img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: all 0.5s; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; } 
 .side-btn .btn-link .btn-text { font-weight: 700; opacity: 0; transform: translateY(80px); transition: all 0.5s; -webkit-transform: translateY(80px); -moz-transform: translateY(80px); -ms-transform: translateY(80px); -o-transform: translateY(80px); -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; } 
 .side-btn:hover .btn-link img { opacity: 0; transform: translate(-50%, -80px); -webkit-transform: translate(-50%, -80px); -moz-transform: translate(-50%, -80px); -ms-transform: translate(-50%, -80px); -o-transform: translate(-50%, -80px); } 
 .side-btn:hover .btn-link .btn-text { opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); } 
 .quick-btn { background: #009EF2; } 
 .quick-btn.on { bottom: 9em; } 
 .quick-btn.bottom { bottom: calc(25vw + 6em); } 
 .quick-btn .btn-link img { width: 2em; } 
 .quick-btn .btn-link .btn-text { color: #fff; } 
 .top-btn { visibility: hidden; opacity: 0; background: #fff; } 
 .top-btn.on { visibility: visible; opacity: 1; } 
 .top-btn.bottom { bottom: 25vw; } 
 .top-btn .btn-link img { width: 1.49em; } 
 .top-btn .btn-link .btn-text { color: #313131; } 

 .dim { visibility: hidden; opacity: 0; position: fixed; top: 0; left: 0; z-index: 1000; width: 100%; height: 100%; background: #000; transition: all 0.5s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; } 
 .dim.on { visibility: visible; opacity: 0.45; } 

 @media all and (max-width: 1728px){
 .header .header-inner { max-width: 1380px; } 
 }
 
 @media all and (max-width: 1430px){
 .header .header-inner { width: calc(100% - 48px); margin: 0 24px; } 
 }

 @media all and (max-width: 1100px){
 .header .header-inner { font-size: clamp(14px, 1.818vw, 20px); } 
 .footer .footer-top .left-area h4 { font-size: clamp(16px, 1.909vw, 21px); } 
 .footer .footer-top .left-area address { font-size: clamp(14px, 1.818vw, 20px); } 
 .footer .footer-top .right-area .sns-list li a { display: block; width: clamp(38px, 5.455vw, 60px); height: auto; } 
 .footer .footer-bottom .left-area .img-wrapper { width: clamp(156px, 25.209vw, 277.3px); height: auto; } 
 .footer .footer-bottom .left-area .img-wrapper img { width: 100%; height: 100%; } 
 .footer .footer-bottom .left-area small { font-size: clamp(12px, 1.636vw, 18px); } 
 .footer .footer-bottom .right-area .certification-list li { width: clamp(99px, 16.364vw, 180px); height: auto; } 
 .footer .footer-bottom .right-area .certification-list li img { width: 100%; height: 100%; } 
 }

 @media all and (max-width: 768px){
 .header .header-inner { justify-content: space-between; height: 60px; } 
 .header .header-inner .header-logo { width: 29.63px; height: 22px; } 
 .header .header-inner .right-area.pc-only { display: none; } 
 .header .header-inner .mo-menu.mo-only { display: block; } 
 .header .header-inner .mo-menu .menu-btn { display: flex; flex-direction: column; width: 8.333vw; max-width: 30px; gap: 7px; } 
 .header .header-inner .mo-menu .menu-btn .menu-line { display: block; width: 100%; height: 2px; background: #fff; transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -ms-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; } 
 .header.white .header-inner .mo-menu .menu-btn .menu-line { background: #000; } 
 .header .header-inner .mo-menu .menu-btn .menu-line2 { display: flex; gap: 5px; background: transparent; } 
 .header.white .header-inner .mo-menu .menu-btn .menu-line2 { background: transparent; } 
 .header .header-inner .mo-menu .menu-btn .menu-line2 .dashed-line1 { width: 7px; } 
 .header .header-inner .mo-menu .menu-btn .menu-line2 .dashed-line2 { width: 18px; } 
 .header .header-inner .mo-menu .menu-btn.on .menu-line1 { transform: translateY(9px) rotate(45deg); -webkit-transform: translateY(9px) rotate(45deg); -moz-transform: translateY(9px) rotate(45deg); -ms-transform: translateY(9px) rotate(45deg); -o-transform: translateY(9px) rotate(45deg); } 
 .header .header-inner .mo-menu .menu-btn.on .menu-line2 { opacity: 0; } 
 .header .header-inner .mo-menu .menu-btn.on .menu-line3 { transform: translateY(-9px) rotate(-45deg); -webkit-transform: translateY(-9px) rotate(-45deg); -moz-transform: translateY(-9px) rotate(-45deg); -ms-transform: translateY(-9px) rotate(-45deg); -o-transform: translateY(-9px) rotate(-45deg); } 

 .mo-gnb.mo-only { display: flex; flex-direction: column; justify-content: space-between; position: fixed; top: 0; left: 0; z-index: 99; width: 100%; height: 100dvh; padding: 30.833vw 16.667vw 11.111vw; background: #161E1F; overflow-y: auto; transform: translateY(-100%); transition: transform 0.5s ease-in; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -o-transform: translateY(-100%); -webkit-transition: transform 0.5s ease-in; -moz-transition: transform 0.5s ease-in; -ms-transition: transform 0.5s ease-in; -o-transition: transform 0.5s ease-in; } 
 .mo-gnb.on { transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); } 
 .mo-gnb .mo-gnb-area { width: 100%; } 
 .mo-gnb .mo-gnb-area .mo-gnb-list { display: flex; flex-direction: column; gap: 11px; font-size: clamp(40px, 8.464vw, 65px); font-weight: 600; color: #EEEEEE; line-height: 1
; } 
 .mo-gnb .mo-gnb-area .mo-gnb-list li { overflow: hidden; } 
 .mo-gnb .mo-gnb-area .mo-gnb-list li span { display: flex; transform: translateY(100%); transition: transform 0.5s 0.5s ease-in; -webkit-transform: translateY(100%); -moz-transform: translateY(100%); -ms-transform: translateY(100%); -o-transform: translateY(100%); -webkit-transition: transform 0.5s 0.5s ease-in; -moz-transition: transform 0.5s 0.5s ease-in; -ms-transition: transform 0.5s 0.5s ease-in; -o-transition: transform 0.5s 0.5s ease-in; } 
 .mo-gnb .mo-gnb-area .mo-gnb-list li span.on { transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); } 
 .mo-gnb .mo-gnb-area .mo-gnb-list .gnb-solution span { cursor: pointer; } 
 .mo-gnb .mo-gnb-area .mo-gnb-list .gnb-solution span::before { display: block; width: 0; height: 4px; margin-top: 0.8em; background: #EEEEEE; content: ''; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; } 
 .mo-gnb .mo-gnb-area .mo-gnb-list .gnb-solution span:hover::before { width: 30px; margin-right: 10px; } 
 .mo-gnb .mo-gnb-area .mo-gnb-list .current { opacity: 0.15; } 
 .mo-gnb .mo-gnb-area .mo-gnb-list .gnb-solution sup { position: relative; top: 0; left: 0.42em; font-size: clamp(9px, 0.3em, 18px); font-weight: 500; } 
 .mo-gnb .mo-gnb-area .mo-gnb-list .gnb-solution .sub-gnb { display: none; padding: 0.75em 0 1.46em 1.43em; font-size: clamp(21px, 0.7em, 46px); font-weight: 500; text-transform: uppercase; } 
 .mo-gnb .mo-gnb-area .mo-gnb-list .gnb-solution .gnb-solution-list { display: flex; flex-direction: column; gap: 13px; } 
 .mo-gnb .mo-gnb-area .mo-gnb-list .gnb-solution .gnb-solution-list li:active { color: #10E4FF; } 
 .mo-gnb .mo-gnb-area .mo-gnb-list .gnb-solution .gnb-solution-list li a { display: block; width: 100%; } 
 .mo-gnb .mo-gnb-bottom { display: flex; align-items: center; width: 100%; padding-top: 5.79em; font-size: clamp(10px, 3.889vw, 20px); color: #fff; gap: 2.14em; opacity: 0; transition: opacity 0.5s 0.7s ease-in; -webkit-transition: opacity 0.5s 0.7s ease-in; -moz-transition: opacity 0.5s 0.7s ease-in; -ms-transition: opacity 0.5s 0.7s ease-in; -o-transition: opacity 0.5s 0.7s ease-in; } 
 .mo-gnb .mo-gnb-bottom.on { opacity: 1; } 
 .mo-gnb .mo-gnb-bottom .gnb-sns-list { display: flex; position: relative; gap: 4px; } 
 .mo-gnb .mo-gnb-bottom .gnb-sns-list li { flex: 1; } 
 .mo-gnb .mo-gnb-bottom .gnb-sns-list li a { display: block; width: 100%; height: 100%; } 
 .mo-gnb .mo-gnb-bottom .gnb-sns-list li a img { width: 100%; height: 100%; } 
 .mo-gnb .mo-gnb-bottom .brochure { position: relative; } 
 .mo-gnb .mo-gnb-bottom .brochure::before { display: block; position: absolute; top: 0.21em; left: -1.07em; width: 1px; height: 0.858em; background: #707070; content: ''; } 
 .mo-gnb .mo-gnb-bottom .brochure a { display: flex; align-items: center; gap: 8px; } 
 .mo-gnb .mo-gnb-bottom .brochure a::after { display: block; width: 0.92em; height: 0.73em; background-image: url("../images/common/download.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; content: ''; } 

 .footer { padding: 35px 24px 40px; } 
 .footer .footer-top { flex-direction: column; padding-bottom: 30px; gap: 24px; } 
 .footer .footer-top .left-area h4 { padding-bottom: 12px; } 
 .footer .footer-top .left-area address span { line-height: 1.7; } 
 .footer .footer-top .left-area address .contact { flex-direction: column; gap: 0; } 
 .footer .footer-top .right-area .sns-list { gap: 7px; } 
 .footer .footer-top .right-area .sns-list li { flex: 0; } 
 .footer .footer-bottom { flex-direction: column; } 
 .footer .footer-bottom .left-area { flex-direction: column; align-items: flex-start; padding-top: 24px; } 
 .footer .footer-bottom .right-area { padding-top: 30px; } 
 .footer .footer-bottom .right-area .certification-list li { flex: unset; } 
 
 .side-btn { bottom: 0; right: 1.6em; font-size: clamp(8.8px, 1.302vw, 10px); } 
 .side-btn:hover .btn-link img { opacity: 1; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); } 
 .side-btn:hover .btn-link .btn-text { opacity: 0; transform: translateY(80px); -webkit-transform: translateY(80px); -moz-transform: translateY(80px); -ms-transform: translateY(80px); -o-transform: translateY(80px); } 
 .quick-btn.on { bottom: 6em; } 
 .quick-btn.bottom { bottom: calc(50vh + 6em); } 
 .top-btn.bottom { bottom: 50vh; } 
 }

 @media all and (max-width: 360px){
 .mo-gnb .mo-gnb-area .mo-gnb-list { font-size: clamp(31px, 11.111vw, 40px); } 
 }